<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.battlescripts.dao.mapper.BattleScriptsMapper">
  
  <insert id="insertScript" parameterType="Script" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into script 
    (uid,name,image,decal,content)
    values
    (#{uid},#{name},#{image},#{decal},#{content})
  </insert>
  
  <update id="updateScript" parameterType="Script">
    update script set name = #{name},image = #{image},decal = #{decal},content = #{content} 
    where id = #{id} and uid = #{uid}
  </update>
  
  <select id="selectScript" resultType="Script" >
    select id,uid,name,image,decal,content 
    from script where id = #{id}
  </select>  
  
  <select id="selectAllScript" resultType="Script">
    select id,uid,name,image,decal,content 
    from script
  </select>
  
</mapper>